@tailwind base;
@tailwind components;
@tailwind utilities;

#text {
  background: #7815cf;
  background: -webkit-linear-gradient(to right, #7815cf 0%, #cf13c9 100%);
  background: -moz-linear-gradient(to right, #7815cf 0%, #cf13c9 100%);
  background: linear-gradient(to right, #7815cf 0%, #cf13c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bg {
  background: rgb(172, 50, 228);
  background: linear-gradient(
    90deg,
    rgba(172, 50, 228, 1) 32%,
    rgba(121, 24, 242, 1) 58%,
    rgba(72, 1, 255, 1) 100%
  );
}
